body {
    background: #f0efeb;
    letter-spacing: 0.2em;
    font-size: 0.8em;
}

.container {
    max-width: 400px;
}

.card {
    background-color: #F8F9FA;
    border-radius: 30px !important;
}

.icon {
    position: relative;
    top: -50px;
    border-radius: 50%;
    width: 100px;
    margin-bottom: -40px;
    border: 0.5px solid #D5D4D3;
}